
/* Navbar Component Styling */

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #FFFFFF;  
  padding: 10px 40px;            
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  cursor: pointer;
}

.navbar-links a {
  font-size: 20px;
  font-weight: 500;
  color:#000;            
  text-decoration: none;
  padding: 8px 12px; 
  border-radius: 7px;          
  transition: background-color 0.3s ease;  
}

.navbar-links a:hover {
  color: #FFF;
  background-color: #55095f;  
  border-radius: 7px;        
}

.navbar-btn {
  font-family: inter;
  font-size: 25px;
  font-weight: 600;
  background-color: #FFFFFF;
  border-radius: 7px;  
  border: 1px solid #007BFF;  
  padding: 8px 15px;
  color: #004AAD;             
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-btn:hover {
  background-color: #55095f;  
  color: #FFFFFF;             
}
.navbar-logo-img {
  width: 150px;
  height: 55px;
  margin-right: 15px;
}

/* About Component Styling */

.about{
width: 100%;
height: 600px;
background: linear-gradient(112.21deg, #2266C0 37.14%, rgba(0, 74, 173, 0.6) 53.93%);
}
.side-to-side{
  padding-top: 40px;
  display: flex;
}
.texts{
  align-items: center;
  width: 18.1%;
}
.big-text{
margin-left:65px;
  width: 500px;
  color: #FFF;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.dream{
  color: #000;
font-family: Poppins;
font-size: 41px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.small-text{
  margin-left: 50px;
width: 650px;
color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.small-texts{
  margin-bottom: 20px;
}
.apply{
  margin-top: 30px;
  margin-left: 190px;
  width: 130px;
height: 40px;
flex-shrink: 0;
border-radius: 10px;
box-shadow: 0 0 15px #000;
border: none;
background: #FFF;
color: #004AAD;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.apply:hover{
cursor: pointer;
background-color: #55095f;  
  color: #FFFFFF; 
}
.circle{
  width: 591px;
  height: 574px;
  margin-left: 23%;
  border-radius:360px;
  background: rgba(217, 217, 217, 0.40);
  position: absolute;
}
.circle-mac{
  overflow: hidden;
  margin-left: 34%;
  width: 800px;
  height: 560px;
  position: relative;
}
.mac{
  width: 648px;
  height: 560px;
  margin-left: 0%;
  margin-right: 100%;
  position: absolute;
}

/* Alumni Component Styling */
.alumni-container{
  overflow: hidden;
  padding: 1px;
height: 700px;
text-align: center;
background: #F8F9FA;
}
.alumni{
  padding: 60px 280px 70px;
 width: 800px;
}
.alumni-flex-container{
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  gap:35px;
}
.company-logo{
  margin-bottom: 60px;
  width:150px;
  height: 50px;
}

/*Programs component styling*/

.programs-container{
  overflow: hidden;
  background: #FFF;
  height: 1550px;
  text-align: center;
}
.programs-heading{
  font-size: larger;
  font-family: Poppins;
  font-weight: 500;
  padding-top:50px;
  margin-bottom: 50px;
  text-align: center;
}
.programs-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  margin-top: 70px;
}
.programs-img{
  width:70%;
}
.programs-card-detail{
  height:250px;
  width:70%;
  border-radius: 0px 0px 50px 50px;
  opacity: 0.65;
  background: #F5F9FF;
  font-size: larger;
}
.programs-btn{
  margin-top:20px;
  color: #004AAD;
  padding: 10px 20px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
border-radius: 5px;
border: 1px solid #004AAD;
background: #FFF;
}
.programs-btn:hover{
  cursor: pointer;
  background-color: #55095f;  
  color: #FFFFFF;
}

/* top button styling */

.top-place{
  margin-top: 35%;
  margin-left: 90%;
  z-index: 999;
  position: fixed;
}
.top-circle{
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: 1px solid #004AAD;
}
/*Reviews component Styling*/
.reviews-container{
  background: #b0d1fe21;
  height: 1050px;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 1.3rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #222224;
  
}
::-webkit-scrollbar-track {
  background: #f9f9f9;
}
.swiper{
  overflow: visible !important;
}
.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}
.swiper-pagination{
  top: 600px !important;
}
.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}
.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #242222;
}
.swiper-button-next{
  right:-150px !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 360px;
  background-color: #2266c062;
}
.swiper-button-prev{
  left: -150px !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 360px;
  background-color: #2266c062;
}

.swiper-pagination {
  position: relative;
}
.reviews-card-container{
  box-shadow: 0 0 10px #000;
  border-radius: 19.48px;
border: 1px solid #004AAD;
background: #FFF;
flex-shrink: 0;
  width: 400px;
  height:550px;
}
.reviews-img-heading{
  display: flex;
}
.reviews-img{
  margin:30px;
  width: 100px;
}
.reviews-card-heading{
  margin: 25px;
}
.reviews-quote{
  color: #004AAD;
font-family: Inter;
font-size: 40px;
}
.end{
  margin-left: 300px;
}
.reviews-card-content{
  font-size: large;
  padding-left: 25px;
  margin: 0%;
  width: 350px;

}
.reviews-readmore{
  cursor: pointer;
  font-size: large;
  margin-top: 100px;
  margin-left: 280px;
}
.watch-more{
  margin-top: 50px;
  display: flex;
  gap: 10px;
  margin-left:125px;
}
.reviews-btn{
  border-radius: 10px;
border: 1px solid #004AAD;
background: #FFF;
width: 315px;
height: 58px;
flex-shrink: 0;
color: #004AAD;
font-family: Inter;
font-size: 24.35px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin:10% 38.5%;
}
.reviews-btn:hover{
  cursor: pointer;
  background-color: #55095f;  
  color: #FFFFFF;
}

/* Features Component Styling */
.features-container{
  height: 1050px;
}
.features-content-img{
  overflow: hidden;
  display: flex;
}
.features-content{
  margin-top: 12%;
  padding: 35px 25px;
  width: 700px;
height: 400px;
flex-shrink: 0;
  border-radius: 0px 30px 30px 0px;
background: #F5F9FF;
}
.icon-para{
  margin-top: 20px;
  display: flex;
  gap:20px;
  font-size: large;
  font-weight: 600;
}
/*Teaching Component Styling*/
.teaching-container{
  height: 850px;
  background: #F5F9FF;
  overflow: hidden;
}
.teaching-cards{
  display: flex;
  gap: 40px;
  padding: 50px;
}
.teaching-card{
  font-family: Poppins;
  width: 280px;
  height: 330px;
  padding: 50px 30px 0px;
  text-align: center;
  border: 1px solid #004AAD;
background: #FFF;
box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.30);
}
.teaching-card:hover{
  cursor: pointer;
}
.teaching-btn{
  border-radius: 10px;
border: 1px solid #004AAD;
background: #FFF;
width: 200px;
height: 58px;
flex-shrink: 0;
color: #004AAD;
font-family: Inter;
font-size: 24.35px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin:3% 43%;
}
.teaching-btn:hover{
  cursor: pointer;
  background-color: #55095f;  
  color: #FFFFFF;
}
/*Footer Component Styling*/
.footer-container{
  overflow: hidden;
  height: 400px;
  display:flex;
}
.footer-img-para{
  padding: 60px 80px;
  width: 400px;
  font-size: larger;
  font-weight: 600;
}
.footer-content{
  width: 500px;
  display: flex;
  padding: 3% 17%;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  gap:150px;
  cursor:pointer;
}
.footer-content-heading{
  color: #004AAD;
 
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

/*media queries*/

/* Mobile (Smartphone) max-width: 480px.
Low Resolution Tablets and ipads max-width: 767px.
Tablets Ipads portrait mode max-width:1024px.
Desktops max-width:1280px.
Huge size (Larger screen) max-width: 1281px and greater. */

@media(min-width:1280px){
 
  .circle-mac{
    margin-left:33.9%;
  }
  
  .alumni{
    padding-left:280px;
  }
  .programs-container{
    height: 1550px;
  }
  .features-content{
    width:688.9px;
  }
  .footer-content{
    width:600px;
  }
}

@media(max-width:1024px){
  .about{
    height:540px;
  }
  .circle-mac{
    margin-left:23.5%;
  }
  .circle{
    width:500px;
    height:500px;
    margin-left:180px;
  }
  .mac{
    width:600px;
    height:500px;
  }
  .big-text{
width:400px;
font-size: 30px;
  } 
  .dream{
    font-size: 32px;
  }
  .small-text {
    margin-left: 30px;
    width: 500px;
    font-size: 15.1px;
    z-index:90;
    position: relative;
}
  .alumni{
    padding-left:140px;
  }
  .company-logo{
    width:110px;
  }
  .programs-container{
    height: 1550px;
  }
  .features-content{
    width:550px;
  }
  .icon-para{
    font-size: 14px;
  }
  .features-img{
    width: 400px;
    margin-left:20px !important;
  }
  .teaching-img{
    width:70px;
  }
  .teaching-card{
    padding: 10px 10px 0px;
  }
  .footer-img-para{
    font-size: medium;
  }
  .footer-content {
    width: 550px;
    padding: 3% 15%;
    font-size: 17px;
    gap: 100px;
}
}

@media(max-width:767px){
  .navbar{
    padding: 0px;
    padding-right: 10px;
  }
  .navbar-logo-img{
    width:100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
 
  .navbar-links a {
      font-size: 15px;
      padding: 0px 2px;
  }
  .navbar-btn{
    font-size:15px;
  }
  .about{
    height:440px;
  }
  .circle-mac{
    margin-left:17%;
  }
  .circle{
    width:400px;
    height:400px;
    margin-left:140px;
  }
  .mac{ margin-left: 50px;
    width:450px;
    height:400px;
  }
  .apply{
    margin-top: 0px;
    margin-left: 100px;
    width:100px;
    height: 35px;
    font-size:15px;
  }
  .big-text{
width:300px;
font-size: 20px;
  } 
  .dream{
    font-size: 25px;
  }
  .small-text {
    margin-left: 20px;
    width: 400px;
    font-size: 14px;
    z-index:90;
    position: relative;
}
  .alumni{
    width:550px;
    padding-left:130px;
    font-size: 22px;
  }
  .company-logo{
    width:70px;
  }
  .programs-container{
    height: 1250px;
  }
  .reviews-btn{
    margin: 15% 30%;
  }
  .features-container{
    height: 900px;
  }
  .features-content{
    width:450px;
  }
  .icon-para{
    font-size: 13px;
  }
  .features-img{
    width: 250px;
    margin-left:20px !important;
  }
  .teaching-container{
    height: fit-content;
  }
  .teaching-img{
    width:60px;
  }
  .teaching-cards {
    gap: 20px;
    padding: 20px;
}
  .teaching-card{
    padding: 5px 5px 0px;
    font-size: small;
    height: 300px;
  }
  .teaching-btn{
    margin-left: 325px;
    font-size: medium;
    width:120px;
    height: 40px;
  }
  .footer-container{
    height: fit-content;
  }
  .footer-img{
    width:130px;
  }
  .footer-img-para{
    font-size: small;
    padding: 30px 0px 0px 50px
  }
  .footer-content {
    width: 550px;
    padding: 2% 0% 0% 15%;
    font-size: 15px;
    gap: 100px;
}
.top-circle{
  width:65px;
  height: 65px;
}
.top-img{
  width: 50px;
  height: 50px;
}
}

@media(max-width:480px){
  .navbar{
    padding: 0px;
  }
  .navbar-logo-img{
    width:80px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }
 
  .navbar-links {
      padding: 0px;
      gap:5px;
  }
  .navbar-links a {
font-size: 12px;
  }
  .navbar-btn{
    font-size:12px;
  }
  .about{
    height:290px;
  }
  .circle-mac{
    margin-left:12%;
    margin-top: 20px;
  }
  .circle{
    width:250px;
    height:250px;
    margin-left:130px;
  }
  .mac{ margin-left: 56px;
    width:280px;
    height:250px;
  }
  .apply{
    margin-top: 0px;
    margin-left: 100px;
    width:85px;
    height: 30px;
    font-size:13px;
  }
  .side-to-side{
    padding-top: 20px;
  }
  .big-text{
    margin-left: 20px;
width:200px;
font-size: 14px;
  } 
  .dream{
    font-size: 16px;
  }
  .small-text {
    margin-left: 0px;
    width: 250px;
    font-size: 10px;
    z-index:90;
    position: relative;
}
.small-texts{
  margin-bottom: 5px;
}
.alumni-container{
  height: 600px;
}
  .alumni{
    width:450px;
    padding-left:20px;
    font-size: 20px;
  }
  .alumni-flex-container{
    gap:15px;
  }
  .company-logo{
    width:50px;
    height: 50px;
    margin-bottom: 40px;
  }
  .programs-container{
    height: 1100px;
  }
  .programs-card-detail {
    height: 210px;
    font-size: small;
}
.reviews-container{
  height: fit-content;
}
.reviews-card-container {
  width: 250px;
  height: 400px;
}
.reviews-img {
  margin: 20px;
  width: 60px;
  height: 60px;
}
.reviews-card-heading {
  font-size: small;
  margin: 0px;
  margin-top: 5px;
}
.reviews-card-content {
  font-size: small;
  padding-left: 5px;
  margin: 0%;
  width: 244px;
}
.reviews-quote {
  font-size: 20px;
}
.end{
  margin-left: 215px;
}
.reviews-readmore{
  font-size: small;
  margin-top: 90px;
  margin-left: 160px;
}
.reviews-video{
  margin-left: 12px !important;
}
.watch-more {
  margin-top: 20px;
  margin-left: 45px;
}
.reviews-cards{
  padding-left: 25% !important;
}
.swiper-button-prev{
  left: -100px !important;
}
.swiper-button-next{
  right:-180px !important;
}
.swiper-pagination {
  top: 430px !important;
  left: 50px !important;
}
  .reviews-btn{
    margin: 15% 30%;
    font-size: small;
    width:200px;
    height: 50px;
  }
  .features-container{
    height: 700px;
    font-size: small;
  }

  .features-content {
    margin-top: 10%;
    padding: 25px 15px;
    width: 250px;
    height: 300px;
}
  .icon-para{
    font-size: 10px;
    margin-top: 10px;
  }
  .features-icon-img{
    width:20px;
    height: 20px;
  }
  .features-img{
    width: 200px;
    margin-left:10px !important;
  }
  .teaching-container{
    height: fit-content;
    font-size: small;
  }
  .teaching-img{
    width:50px;
  }
  .teaching-cards {
    gap: 20px;
    padding: 20px;
}
  .teaching-card{
    padding: 5px 5px 0px;
    font-size: smaller;
    height: 300px;
  }
  .teaching-btn{
    margin-left: 185px;
    font-size: medium;
    width:120px;
    height: 40px;
  }
  .footer-container{
    height: fit-content;
    font-size: smaller;
  }
  .footer-img{
    width:100px;
  }
  .footer-img-para{
    font-size: smaller;
    padding: 20px 0px 0px 40px
  }
  .footer-content {
    width: 400px;
    padding: 2% 0% 0% 5%;
    font-size: 12px;
    gap: 50px;
}
.top-circle{
  width:55px;
  height: 55px;
}
.top-img{
  width: 40px;
  height: 40px;
}
}
